
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f7f6;
    font-family: sans-serif;
}

.calculadora {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    width: 300px; /* Largura da calculadora */
}

.visor {
    width: 100%;
    height: 60px;
    background-color: #444;
    color: #fff;
    font-size: 2em;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
}

.teclado {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas com tamanhos iguais */
    gap: 10px;
}

.teclado button {
    padding: 15px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #666;
    color: #fff;
    transition: background-color 0.1s;
}

.teclado button:hover {
    background-color: #888;
}

/* Estilos específicos para classes */
.operador {
    background-color: #ff9500;
}

.operador:hover {
    background-color: #ffb74d;
}

.igual {
    grid-column: span 1; /* Ocupa uma coluna, mas será realinhado pelo layout grid */
    background-color: #2ecc71;
}

.igual:hover {
    background-color: #48d484;
}

.zero {
    grid-column: span 2; /* Faz o botão '0' ocupar o espaço de 2 colunas */
}
